# macOS system files
.DS_Store

# Ignore node_modules
node_modules
internal/ebzweb/public

# Ignore build packages
build/native

# Ignore tmp director
tmp/

# VS Code
.vscode

package/

dbfiles/

.$*.drawio.bkp

.envrc

coverage.out